<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
        <%= link_to "Create new photo", new_photo_url %>
        <!-- <a href="/photos/new">Create new photo</a> -->
    </div>
  </div>
  <% @photos.each do |photo| %>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
          <div class="panel-body">
            <%= image_tag photo.source, :class => "img-responsive" %>
           <!--  <img src="<%#= photo.source %>" alt="<%#= photo.caption %>" class="img-responsive"> -->
             <h3><%= photo.caption %></h3>
             <div>
              <%= link_to photo_url(photo.id), :class => "btn btn-primary" do   %>
                <i class="fa fa-search-plus"></i>
              <% end %>
               <!-- <a class ="btn btn-primary" href="/photos/<%= photo.id %>">
                <i class="fa fa-search-plus"></i>
                </a> -->
              <%= link_to edit_photo_url(photo.id), :class => "btn btn-warning" do   %>
                <i class="fa fa-pencil-square-o"></i>
              <% end %>
               <!-- <a class="btn btn-warning" href="/photos/<%= photo.id %>/edit"><i class="fa fa-pencil-square-o"></i></a> -->

               <%= link_to photo_url(photo.id), :class => "btn btn-danger", :method => :delete do   %>
                 <i class="fa fa-trash-o"></i>
               <% end %>
               <!-- <a class="btn btn-danger" href="/delete_photo/<%= photo.id %>"><i class="fa fa-trash-o"></i></a> -->

             </div>
          </div>
        </div>

      </div>
    </div>
  <% end %>
</div>

