<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= link_to "Create new photo", new_photo_url %>
      <!-- <a href="/photos/new">Create new photo</a> -->
    </div>
  </div>
  <% @photos.each do |photo| %>
  <div class="row">
    <div class="col-md-2 col-md-offset-1">
      <div class="media">
        <%= link_to "#" do %>
        <%= image_tag photo.user.image_url, :class => "media-object", :width => "75px"  %>
        <% end %>
        <div class="media-body">
          <h4 class="media-heading"><%= photo.user.name %></h4>
          <%= time_ago_in_words(photo.created_at) %>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="well">
        <div class="panel panel-default">
          <div class="panel-body">
            <%= image_tag photo.source, :class => "img-responsive" %>
            <!--  <img src="<%#= photo.source %>" alt="<%#= photo.caption %>" class="img-responsive"> -->
            <h3>
              <%= photo.caption %>
              <% if user_signed_in? %>
              <% favorite = Favorite.where(:photo_id => photo.id, :user_id => current_user.id).first %>
              <% end %>
              <% if favorite %>
              <small>favorite</small>
              <% end %>
            </h3>
            <div>
              <%= link_to photo_url(photo.id), :class => "btn btn-primary" do   %>
              <i class="fa fa-search-plus"></i>
              <% end %>
                 <!-- <a class ="btn btn-primary" href="/photos/<%= photo.id %>">
                  <i class="fa fa-search-plus"></i>
                </a> -->
                <% if user_signed_in? %>
                  <%= form_tag 'favorites', :class => 'inline-form' do %>
                  <input type="hidden" name="photo_id" value="<%= photo.id %>">
                  <input type="hidden" name="user_id" value="<%= current_user.id %>">
                  <button class="btn btn-success"><i class="fa fa-heart-o"></i></button>
                  <% end %>

                  <% if photo.user_id == current_user.id %>
                    <%= link_to edit_photo_url(photo.id), :class => "btn btn-warning" do   %>
                    <i class="fa fa-pencil-square-o"></i>
                    <% end %>
                    <!-- <a class="btn btn-warning" href="/photos/<%= photo.id %>/edit"><i class="fa fa-pencil-square-o"></i></a> -->

                    <%= link_to photo_url(photo.id), :class => "btn btn-danger", :method => :delete do   %>
                    <i class="fa fa-trash-o"></i>
                    <% end %>
                    <!-- <a class="btn btn-danger" href="/delete_photo/<%= photo.id %>"><i class="fa fa-trash-o"></i></a> -->
                  <% end %>
                <% end %>

              </div>
            </div>
          </div>
          <div>
            <% photo.comments.each do |comment| %>
            <div class="media">
              <div class="media-left">
                <a href="#">
                  <img class="media-object" src="<%= comment.user.image_url %>" alt="..." width="75px">
                </a>
              </div>
              <div class="media-body">
                <h4><%= comment.contents %></h4>
              </div>
            </div>
            <% end %>
            <!-- Validation failure messages -->

            <!-- Responsive panel example -->
            <% if user_signed_in? %>

              <% if @comment.errors.any? %>
                <% @comment.errors.full_messages.each do |message| %>
                <div class="alert alert-dismissable alert-danger">
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                  <%= message %>
                </div>
                <% end %>
              <% end %>

              <%= form_tag comments_url, :method => "post", :class => "form-horizontal" do %>
                <!-- Label and input for user_id -->
                <div class="form-group">
                  <input type="hidden" name="user_id" id="user_id" value="<%= current_user.id %>">
                </div>
                <!-- Label and input for photo_id -->
                <div class="form-group">
                  <input type="hidden" name="photo_id" id="photo_id" value="<%= photo.id %>">
                </div>
                <!-- Label and input for contents -->
                <label for="contents" class="control-label sr-only">
                  Contents
                </label>
                <div class="form-group">
                  <div class="col-sm-12">
                    <input type="text" id="contents" name="contents" placeholder="Add a comment..." class="form-control"  value="<%= @comment.contents %>">
                  </div>
                </div>
              <% end %>
            <% end %>

          <!-- End responsive panel example -->

        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>

