<h1>Photo #<%= @photo.id %></h1>
<img src="<%= @photo.source %>" alt="<%= @photo.caption %>">
<p><%= @photo.caption %></p>

<%= link_to "Delete", photo_url(@photo.id), :method => :delete  %> |
<!-- <a href="/delete_photo/<%#= @photo.id %>">Delete</a>  -->
<%= link_to "Edit", edit_photo_url(@photo.id)  %>
<!-- <a href="/photos/<%#= @photo.id %>/edit">Edit</a> -->
