<h1>Photo #<%= @photo.id %></h1>
<img src="<%= @photo.source %>" alt="<%= @photo.caption %>" width="300">
<p>Caption:<%= @photo.caption %></p>
<p>User: <%= link_to @photo.user.name, user_url(@photo.user.id) %></p>

<%= link_to "Delete", photo_url(@photo.id), :method => :delete  %> |
<!-- <a href="/delete_photo/<%#= @photo.id %>">Delete</a>  -->
<%= link_to "Edit", edit_photo_url(@photo.id)  %>
<!-- <a href="/photos/<%#= @photo.id %>/edit">Edit</a> -->
